section {
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.the-pen {
  background-image: url(/assets/the-pen.svg);
  background-color: #fff;
}

.is-mightier {
  background-image: url(/assets/is-mightier.svg);
  background-color: #000;
}

.than {
  background-image: url(/assets/than.svg);
  background-color: #fff;
}

.the-sword {
  background-image: url(/assets/the-sword.svg);
  background-color: #000;
}

.end {
  background-image: url(/assets/end.svg);
  background-color: #00f10a;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 30px;
  position: fixed;
}

img {
  width: 40px;
}

@media (max-width: 800px) {
  section {
    background-attachment: scroll;
    height: 60vh;
  }

  footer img {
    width: 30px;
  }
}
